/*LIGHT #1f1d2e and #ebbcba and #E0DEF4 */
/* DARK #9ccfd8 and #232136 & #fffaf3 and #575279*/
@media screen and (max-width: 600px){
    body {
        background-color: #ebbcba;
        color: #1f1d2e;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr 1fr;
    }
    header h1 {
        text-align: center;
    }
    nav {
        text-align: right;
    }
    nav a {
        padding: 0 2px;
    }
    aside {
        background-color: #E0DEF4;
        
    }
    textarea {
        font-size: .8rem;
        letter-spacing: 1px;
    }
    textarea {
        background-color: #E0DEF4;
        padding: 10px;
        line-height: 1.5;
        border-radius: 5px;
        border: 2px solid #575279;
        width: 90%; 
    }
    footer {
        text-align: center;
    }
    section div {
        display: flex;
        justify-content: space-between;
    }
    .dark {
        border: 0;
        line-height: 2.5;
        padding: 2px 10px;
        font-size: 1rem;
        text-align: center;
        color: #fffaf3;
        border-radius: 10px;
        background-color: #575279;
        justify-self: right;
    }
    .newnote {
        border: 0;
        line-height: 2.5;
        padding: 2px 10px;
        font-size: 1rem;
        text-align: center;
        color: #fffaf3;
        border-radius: 10px;
        background-color: #56949f;
    }
    .save {
        border: 0;
        line-height: 2.5;
        padding: 2px 10px;
        font-size: 1rem;
        text-align: center;
        color: #fffaf3;
        border-radius: 10px;
        background-color: #56949f;
    }
    .cancel {
        border: 0;
        line-height: 2.5;
        padding: 2px 10px;
        font-size: 1rem;
        text-align: center;
        color: #fffaf3;
        border-radius: 10px;
        background-color: #b4637a;
    }
}